*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}
body
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
.container
{
    width: 400px;
    height: min-content;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 30px;
}
.search-box
{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box input
{
    width: 85%;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    background-color: rgb(247, 215, 243);
    padding: 12px;
    border-radius: 15px;
}
.search-box input::placeholder
{
    color: black;
}
.search-box button
{
    width: 46px;
    height: 46px;
    border-radius: 35%;
    background-color: rgb(247, 215, 243);
    cursor: pointer;
    font-size: 20px;
}
.search-box button:hover
{
    color: whitesmoke;
    background-color: grey;
}
.weather-body
{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}
.weather-img
{
    width: 60%;
}
.weather-box
{
    margin-block: 20px;
    text-align: center;
}
.weather-box .temperature
{
    font-size: 40px;
    font-weight: 800;
    position: relative;
    color: rgb(49, 53, 13);
}
.weather-box .description
{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: rgb(11, 49, 50);
}
.weather-details
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.humidity, .wind
{
    display: flex;
    align-items: center;
}
.humidity
{
    margin-left: 10px;
}
.humidity p
{
    color: rgb(165, 15, 15);
}
.wind
{
    margin-right: 25px;
}
.humidity i
{
    color: rgb(235, 104, 38);
}
.weather-details i
{
    font-size: 36px;
}
.weather-details .text
{
    margin-left: 10px;
    font-size: 15px;
    color: rgb(124, 12, 50);
}
.text span
{
    font-size: 20px;
    font-weight: 700;
}
.location-not-found
{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.location-not-found h1
{
    font-size: 20px;
    color: gray;
    margin-block-end: 15px;
}
.location-not-found img
{
    width: 80%;
}
.wind i
{
    color: rgb(80, 47, 118);
}
.wind p
{
    color: rgb(14, 82, 131);
}